body {
  font-family: 'Poppins', sans-serif;
  background: #002d57;
  margin: 0;
  padding: 1rem;
}
.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
}
